.logoimg {
    width: 100px; 
    height: 100px;
}

body {
    background: white;
    color: #3f3f3f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004951;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

nav h1 {
    list-style-type: none;
    font-size: 15px;
    padding: 0;
}

nav h1 button {
    display: inline;
    margin-right: 20px;
}

nav h1 button a {
    color: #fff;
    text-decoration: none;
}

.cikisbutton {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.cikisbutton:hover {
    background-color: #555;
}

.cikisbutton a {
    text-decoration-color: aliceblue;
    color: aliceblue;
}

.hakkimizda-foto {
    background-color: whitesmoke;
    background-image: url('../resimler/info.png');
    background-size: 1050px;
    background-position: center;
    background-repeat: no-repeat;
    height: 4850px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
}

.fotograf-over {

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}