.logoimg {
    width: 100px; 
    height: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    background-image: url('../resimler/yolculuk.png'); /* Arka plan resmi */
    background-size: cover; /* Arka plan resmini kaplayacak şekilde boyutlandır */
    background-position: top; /* Arka plan resmini merkezlemek için */
    height: 65vh; /* Sayfanın tamamını kaplamak için */
    margin: 0; /* Kenar boşluklarını kaldır */
    padding: 20px; /* İç boşlukları kaldır */
}

header {
    background-color: #004951;
    color: #fff;
    padding: 20px;
    text-align: center;    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

nav h1 {
    list-style-type: none;
    font-size: 15px;
    padding: 0;
}

nav h1 button {
    display: inline;
    margin-right: 20px;
}

nav h1 button a {
    color: #fff;
    text-decoration: none;
}

.cikisbutton {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.cikisbutton:hover {
    background-color: #555;
}

.cikisbutton a {
    text-decoration-color: aliceblue;
    color: aliceblue;
}

.search-menu {
    width: 200px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background: linear-gradient(
    rgba(252,255,255,.7),
    rgba(255,255,252,.7)
    )
}

section {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

.secenekler, .tarih, form button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}